<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Good Morning! This is a Test Application For DevOpsAutomation %></h1>
    <h3>Welcome to DevOpsAutomation</h3>
  </body>
</html>
