<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pipeline</title>
</head>
<body>
    <h1>Pipeline Execution Result</h1>
    <div>
        <%= playbookLog %>
    </div>
</body>
</html>